@import url(;https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DRoboto%253A100%252C200%252C300%252C400%252C500%252C600%252C700%257CExo%253A100%252C200%252C300%252C400%252C500%252C600%252C700%26fbclid%3DIwZXh0bgNhZW0CMTAAAR0PmpAJ11P1_0ywNF54GEokYsjuOR8p2Xn7ETNWgbLb2_yIwSTtAxj7JZ8_aem_KNIuaffE6lola7ewsGxDxg&h=AT2kgJuGqTFSvoAELhKSTRAQu9xn1OS8avSkWUT95_Kfghf-Hk_XaOO6k_V3gQ-K1TrKjET8eO5QHgnb4_mO3FQIapOnLUrF2KrMOqfMrLPY8XmsN3JF885sDpAGOTcqjdg);

header {
    margin: 0;
    }

.logo {
    background: url(../assets/rosie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz transition: all .5s ease-in-out;
    -webkit transition: all .5s ease-in-out;
}